<% if current_user.group_id != nil %>
  <h3 class = "mt-3"> Photos from <b> <%= @group.name %> </b> </h4>
    <hr>
    <div class = "row mx-auto w-75">
        <% (@posts).each do |post| %>
            <div class = "col-md-6 mx-auto d-flex flex-column p-3 justify-content-center">
                <%=link_to image_tag(post.picture.url, :class => "img-fluid rounded"), group_post_path(@group, post) %>  
                <div class = "d-flex justify-content-between mt-3 mx-1">
                    <%# <h5 style="font-size: 2.2vw;"> Uploaded by <%= post.user.email %>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <h4 class = "mt-3"> You aren't in a group yet ... </h4>
    <h4> Join or create a group to see some photos! </h4>
<% end %>
