<% if current_user.group_id != nil %>
  <h3 class = "mt-3"> Photos from <b> <%= @group.name %> </b> </h4>
    <hr>
    <div class = "d-flex flex-column mx-auto">
        <% (@posts).each do |post| %>
            <div class = "mx-auto d-flex flex-column w-75 border border-dark rounded p-3 text-center">
                <%= image_tag(post.picture.url, :class => "img-fluid") %>  
                <div class = "d-flex justify-content-between mt-3 mx-1">
                    <%# <h5 style="font-size: 2.2vw;"> Uploaded by <%= post.user.email %>
                    <% if post.user_id == current_user.id %>
                        <%= button_to 'Delete', group_post_path(current_user.group_id, post), method: :delete, :class => "btn btn-dark"%>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <h4 class = "mt-3"> You aren't in a group yet ... </h4>
    <h4> Join or create a group to see some photos! </h4>
<% end %>
