    <div class = "row mx-auto mt-5">
        <div class = "col-md-5">
            <%= image_tag(@post.picture.url, :class => "img-fluid rounded")%> 
        </div>
        <div class = "d-flex flex-column col-md-7 mt-3">
            <h5> Uploaded by <%= @post_user.email %> <br> on <%= @post.created_at %> </h5>
            <% if @post.user_id == current_user.id %>
                <%= button_to 'Delete', group_post_path(current_user.group_id, @post), method: :delete, :class => "btn btn-danger mt-2"%>
            <% end %>
        </div>
    </div>